* {box-sizing: border-box;}

:root {
    --prim: #26292e;
    --sec1: #e7718b;
    --sec2: #f4f4f6;
    --tert: #ffffff; 
    --footer: #26292e;
    --border-color: #fce3e7;
    --font1: Twinkle Star; 
    --btn: #3f3f3f;  
}

#headerSection {
    background-color: var(--prim);
}


#section1 {
    background-color: var(--sec1);
    padding: 20px 0;
}


#section2 {
    background-color: var(--sec2);
    padding: 40px 0;
    border-bottom: 5px solid var(--border-color);
}

/* #productsSection {
    padding: 20px 0;
} */


#block {
    background-color: #444;
    border: 13px solid #c4cbdd;
    padding: 100px;
    width: 72%;
} 

#footer {
    background-color: var(--footer);
}

.heading {
    font-family: var(--font1); 
    color:#ffffff;
}

.btn-more {
    background-color: var(--btn);
}

.client-list {
    list-style-type: none;
}

.clients-text{
    color: #aaa;
    padding: 10px 0;
}

.span-text {
    color: #333;
}